.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 170px;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  font-size: 20px;
}
.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: #b415ff;
}

html {
  scroll-behavior: smooth;
}

.nav-connect a {
  text-decoration: none;
  color: #fff;
  /* background: #b415ff; */
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 500;
  transition: 0.3s ease;
}

